IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;
IO_LOC "LED0" 10;
IO_LOC "LED1" 11;
IO_LOC "LED2" 13;
IO_LOC "LED3" 14;
IO_LOC "LED4" 15;
IO_LOC "LED5" 16;
IO_LOC "btn1" 3;

IO_LOC "TXD" 17;
IO_PORT "TXD" IO_TYPE=LVCMOS33;
IO_LOC "RXD" 18;
IO_PORT "RXD" IO_TYPE=LVCMOS33;

